# Wordpress Stuff
*.zip
*.s*ssc
.vscode/
.sass-cache/

# Ignore built CSS and CSS maps
**/*.css
**/*.css.map

# Config stuff
*.json

# Build files
.gradle/
gradle/.launch/
node_modules/
!package.json
!package-lock.json

# Easy uncheck via .*
.*/
**/.*

# Don't ignore .gitignore
-.gitignore
